<%- include("header") -%>
    <% if (messages.error) { %>
        <%= messages.error %>
            <% } %>
                <div class="text-center center-div" id="login">
                    <div class="container w-25 mt-4 border py-5">
                        <div class="title pb-5">
                            <h2 class="font-weight-bold">Login System</h2>
                            <span>Log in for existing user</span>
                        </div>
                        <form action="/login" method="POST">
                            <br>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="email" id="email" name="email" required />
                                <span class="form-text text-muted text-left">Register email address</span>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="password" id="password" name="password" />
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success rounded-pill">Sign In</button>
                            <br>
                            <br>
                            <a href="/register" class="btn btn-warning rounded-pill">create an account</a>
                            <br><br>
                            <a href="/auth/google" class="btn btn-primary rounded-pill">sign in with google</a>&nbsp;&nbsp;
                            <a href="/auth/github" class="btn btn-primary rounded-pill">sign in with github</a>
                        </form>
                    </div>
                </div>
                <%- include("footer") -%>